<%= form_with(model: project_environment, url: project_environment.new_record? ? [@project, project_environment] : project_environment, local: true) do |form| %>
  <div class="row">
    <div class="col-md-12 pr-1">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.select :name, options_for_select(ProjectEnvironment.names.keys.map { |k| [k.titleize, k] }), placeholder: "Select Environment", class: "form=control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.submit "Save", class: "btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
<% end %>
